* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.contactpage {
    background-image: linear-gradient(to left, #051937, #0e162c, #121322, #111119, #0e0e0e);
}
.contact-page {
    position: relative;
    top: 8%;
    height: 30rem;
    width: 34rem;
    background: rgba(255, 255, 255, 0.034);
    box-shadow: 0 8px 32px 0 rgb(31 38 135 / 37%);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
}
